[submodule "testcenter-iqb-php"]
	path = testcenter-backend
	url = https://github.com/iqb-berlin/testcenter-iqb-php
[submodule "testcenter-iqb-ng/src"]
	path = testcenter-frontend
	url = https://github.com/iqb-berlin/testcenter-iqb-ng.git
